PYTHONUNBUFFERED="1"
OS_AUTH_URL="https://auth.cloud.ovh.net/v3/"
OS_IDENTITY_API_VERSION="3"
OS_PASSWORD=""
OS_PROJECT_DOMAIN_NAME="Default"
OS_PROJECT_ID=""
OS_REGION_NAME="GRA5"
OS_TENANT_ID=""
OS_TENANT_NAME=""
OS_USER_DOMAIN_NAME="Default"
OS_USERNAME=""
OS_VOLUMES=""

export OS_AUTH_URL OS_IDENTITY_API_VERSION OS_PASSWORD OS_PROJECT_DOMAIN_NAME OS_PROJECT_ID OS_REGION_NAME OS_TENANT_ID OS_TENANT_NAME OS_USER_DOMAIN_NAME OS_USERNAME OS_VOLUMES
